.container {
  display: flex;
  overflow: scrollg;
  width: 50%;
  height: 50vh;
  flex-direction: column;
  text-align: left;
  color: black;
  background-color: rgb(161, 138, 138);

  &-user {
    padding: 2rem;
    text-decoration: underline;
    color: black;
  }
  &-content {
    padding: 1rem;
    width: 100%;
    border: 2px, solid, grey;
    border-radius: 1rem;
    background-color: grey;
    color: white;
  }
}
