.container {
  display: flex;
  padding: 5rem;
  width: 50%;
  flex-direction: column;
  text-align: left;
  color: black;
  background-color: rgb(255, 255, 255);
  margin-bottom: 20rem;
  &-user {
    padding: 2rem;
    text-decoration: underline;
    color: black;
  }
  &-content {
    padding: 1rem;
    width: 100%;
    border: 2px, solid, grey;
    border-radius: 1rem;
    background-color: grey;
    color: white;
  }
}
