.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  background-color: black;
  margin-bottom: 15rem;
  &-user {
    text-decoration: underline;
    color: white;
  }
  &-content {
    width: 100%;
    border: 2px, solid, grey;
    border-radius: 1rem;
    background-color: grey;
    color: white;
  }
}
